---
# Jenkins installation tasks

- name: Install OpenJDK 17
  apt:
    name: openjdk-17-jre
    state: present
    update_cache: yes

- name: Ensure /usr/share/keyrings exists
  file:
    path: /usr/share/keyrings
    state: directory
    mode: '0755'

- name: Add Jenkins GPG key
  get_url:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
    dest: /usr/share/keyrings/jenkins-keyring.asc
    mode: '0644'

- name: Add Jenkins Repository
  apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian-stable binary/"
    state: present
    filename: jenkins

- name: Install Jenkins
  apt:
    name: jenkins
    state: present
    update_cache: yes

- name: Ensure Jenkins is started and enabled
  service:
    name: jenkins
    state: started
    enabled: yes
