---
- name: Restart fail2ban
  service:
    name: fail2ban
    state: restarted

- name: Restart ssh
  service:
    name: ssh
    state: restarted

- name: Reload ufw
  community.general.ufw:
    state: reloaded

- name: Restart docker
  service:
    name: docker
    state: restarted
