apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: places-backend
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/vurados/places_backend.git
    targetRevision: feat/argoCD
    path: charts/places-backend
    helm:
      valueFiles:
        - values.yaml
      values: |
        global:
          security:
            allowInsecureImages: true
        postgresql:
          image:
            registry: public.ecr.aws
            repository: bitnami/postgresql
            tag: 15.1.0-debian-11-r0
        redis:
          image:
            registry: public.ecr.aws
            repository: bitnami/redis
            tag: 7.0.12-debian-11-r0
        minio:
          image:
            registry: public.ecr.aws
            repository: bitnami/minio
            tag: 2023.6.14-debian-11-r0
  destination:
    server: https://kubernetes.default.svc
    namespace: places-backend
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
