global:
  resolve_timeout: 5m

route:
  group_by: ["alertname", "cluster", "service"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: "default-receiver"
  routes:
    - match:
        severity: critical
      receiver: "telegram-critical"
      repeat_interval: 30m
    - match:
        severity: warning
      receiver: "telegram-warning"

receivers:
  - name: "default-receiver"
    webhook_configs:
      - url: "http://alertmanager-telegram:9087/alert"
        send_resolved: true

  - name: "telegram-critical"
    webhook_configs:
      - url: "http://alertmanager-telegram:9087/alert"
        send_resolved: true

  - name: "telegram-warning"
    webhook_configs:
      - url: "http://alertmanager-telegram:9087/alert"
        send_resolved: true

templates:
  - "/etc/alertmanager/template/*.tmpl"
