name: Deploy to Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy Application
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Create Vault Password File
        run: echo "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > vault_pass.txt

      - name: Run Ansible Playbook
        run: |
          cd ansible/
          ansible-playbook -i inventories/test/hosts.ini \
            playbooks/site.yml \
            --vault-password-file ../vault_pass.txt \
            -e "ansible_host=${{ secrets.SERVER_IP }}" \
            -e "ansible_user=${{ secrets.SERVER_USER }}"
        env:
          ANSIBLE_HOST_KEY_CHECKING: False

      - name: Cleanup
        if: always()
        run: rm -f vault_pass.txt