name: Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Copy files to server
        run: |
          rsync -avz --delete \
            -e "ssh -o StrictHostKeyChecking=no -p ${{secrets.HOST_PORT}}" \
            ./ ${{ secrets.HOST_USER }}@${{ secrets.HOST_IP }}:/home/${{ secrets.HOST_USER }}/app

      - name: Run deploy script
        run: |
          ssh -o StrictHostKeyChecking=no -p ${{ secrets.HOST_PORT }} ${{ secrets.HOST_USER }}@${{ secrets.HOST_IP }} << 'EOF'
            set -e
            cd /home/${{ secrets.HOST_USER }}/app

            # Загружаем env (секреты хранятся в GitHub Secrets)
            echo "${{ secrets.ENV_FILE }}" > .env

            # Проверка и получение сертификата, если нет
            ./scripts/init-letsencrypt.sh || true
            
            # Останавливаем текущие контейнеры
            docker compose -f docker-compose.yml down

            # Собираем и поднимаем заново
            docker compose -f docker-compose.yml up -d --build --force-recreate
          EOF