name: Deploy.v2

on:
  workflow_dispatch:

jobs:
  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
    
      - name: Install Ansible
        run: |
            sudo apt update
            sudo apt install -y ansible

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.VPS_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
 
      - name: Create Ansible inventory
        run: |
          mkdir -p ansible
          echo "[vps]" > ansible/inventory.ini
          echo "server ansible_host=${{ secrets.VPS_HOST }} ansible_user=${{ secrets.VPS_USER }} ansible_ssh_private_key_file=~/.ssh/id_rsa" >> ansible/inventory.ini

      - name: Create encrypted Ansible Vault
        env:
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
          REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
          MINIO_ROOT_USER: ${{ secrets.MINIO_ROOT_USER }}
          MINIO_ROOT_PASSWORD: ${{ secrets.MINIO_ROOT_PASSWORD }}
          VAULT_PASSWORD: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
        run: |
          echo "creating vault file"
          mkdir -p ansible/group_vars/all

          # Create YAML with secrets in-memory
          cat <<EOF > ansible/group_vars/all/env.yml
          db_user: "${DB_USER}"
          db_password: "${DB_PASSWORD}"
          db_name: "${DB_NAME}"
          redis_password: "${REDIS_PASSWORD}"
          minio_root_user: "${MINIO_ROOT_USER}"
          minio_root_password: "${MINIO_ROOT_PASSWORD}"
          EOF

          # Encrypt the file with ansible-vault
          echo "$VAULT_PASSWORD" > vault_pass.txt
          ansible-vault encrypt ansible/group_vars/all/env.yml --vault-password-file vault_pass.txt
      
      - name: Run Ansible Playbook
        env:
          VAULT_PASSWORD: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
        run: |
          echo "$VAULT_PASSWORD" > vault_pass.txt
          ansible-playbook -i ansible/inventory.ini ansible/playbook.yml --vault-password-file vault_pass.txt
      
      - name: cleanup
        run: |
          rm -rf ansible/group_vars
          rm -rf vault_pass.txt
