name: Deploy.v2

on:
  workflow_dispatch:

jobs:
  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Validate Secrets
        env:
          VPS_SSH_KEY: ${{ secrets.VPS_SSH_KEY }}
          VPS_HOST: ${{ secrets.VPS_HOST }}
          VPS_USER: ${{ secrets.VPS_USER }}
          VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
          VAULT_ROLE_ID: ${{ secrets.VAULT_ROLE_ID }}
          VAULT_SECRET_ID: ${{ secrets.VAULT_SECRET_ID }}
        run: |
          missing_secrets=()
          [ -z "$VPS_SSH_KEY" ] && missing_secrets+=("VPS_SSH_KEY")
          [ -z "$VPS_HOST" ] && missing_secrets+=("VPS_HOST")
          [ -z "$VPS_USER" ] && missing_secrets+=("VPS_USER")
          [ -z "$VAULT_ADDR" ] && missing_secrets+=("VAULT_ADDR")
          [ -z "$VAULT_ROLE_ID" ] && missing_secrets+=("VAULT_ROLE_ID")
          [ -z "$VAULT_SECRET_ID" ] && missing_secrets+=("VAULT_SECRET_ID")
          
          if [ ${#missing_secrets[@]} -ne 0 ]; then
            echo "Error: The following GitHub Secrets are missing or empty:"
            printf '%s\n' "${missing_secrets[@]}"
            exit 1
          fi
          echo "All required secrets are present."
    
      - name: Install Ansible
        run: |
            sudo apt update
            sudo apt install -y ansible

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.VPS_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
 
      - name: Create Ansible inventory
        run: |
          mkdir -p ansible/inventories
          echo "[vps]" > ansible/inventory.ini
          echo "backend-prod ansible_host=${{ secrets.VPS_HOST }} ansible_user=${{ secrets.VPS_USER }} ansible_ssh_private_key_file=~/.ssh/id_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no'" >> ansible/inventory.ini

      - name: Run Ansible Playbook
        env:
          VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
          VAULT_ROLE_ID: ${{ secrets.VAULT_ROLE_ID }}
          VAULT_SECRET_ID: ${{ secrets.VAULT_SECRET_ID }}
        run: |
          ansible-playbook -i ansible/inventory.ini ansible/playbooks/deploy.yml \
            -e "vault_addr=$VAULT_ADDR" \
            -e "vault_role_id=$VAULT_ROLE_ID" \
            -e "vault_secret_id=$VAULT_SECRET_ID" \
            -e "env_name=production" \
            -e "ansible_python_interpreter=/usr/bin/python3"
      
